@font-face {
    font-family: Proxima Nova;
    src: url("../fonts/ProximaNova-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Proxima Nova;
    font-weight: bold;
    src: url("../fonts/ProximaNova-Bold.ttf") format("opentype");
}
