@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
    color: #1C0E1A;
    font-family: Roboto;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #1C0E1A;
    overflow-y: scroll
}

img {
    pointer-events: none
}

a {
    text-decoration: none;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 122%;
    /* or 73px */
    color: #23AFDD;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 1.6;
    color: #757575;
}

input {
    outline: none;
    border: 0;
    color: #333333;
    background: transparent;
    font-weight: normal;
    font-size: 18px;
    line-height: 155.19%;
    transition: 0.5s;
    border-bottom: 2px solid #5A5A5A;
    padding: 8px 0;
    margin-bottom: 31px;
    width: 100%;
    /* or 28px */
    /*text-transform: uppercase;*/
}

textarea {
    outline: none;
    color: #333333;
    width: 100%;
    background: transparent;
    font-weight: normal;
    font-size: 18px;
    line-height: 155.19%;
    transition: 0.5s;
    border: 2px solid #5A5A5A;
    padding: 8px 12px;
    resize: none;
    height: 103px;
    margin-bottom: 31px
}

.container {
    max-width: 1174px;
    margin: auto;
    width: 100%;
}

.button {
    width: 308px;
    height: 58px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    position: relative;
}

.button::after {
    background: url(../img/button-border.svg) no-repeat;
    display: block;
    content: '';
    width: 310px;
    height: 57px;
    position: absolute;
    left: 0;
    top: 0;
}

.button span {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 155.19%;
    text-transform: uppercase;
}

.button:hover span {
    -webkit-animation: blink .12s linear 2;
    animation: blink .12s linear 2;
}

.button span:nth-of-type(1) {
    color: #23AFDD;
    z-index: 1;
}

.button span:nth-of-type(2) {
    color: #DC117B;
    position: absolute;
    margin-left: 2px;
}

@-webkit-keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
}

.header {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}

.header .container {
    z-index: 1;
}

.header__back {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}


.header__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 160px;
}

.header__description p {
    font-weight: normal;
    font-size: 32px;
    line-height: 118%;
    /* or 64px */
    margin-bottom: 97px;
    color: #23AFDD;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    position: relative;
}

.nav__links img {
    position: absolute;
    left: 47px;
    top: 31px;
}

.nav__links a {
    margin-left: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 138%;
    /* identical to box height, or 25px */
    text-align: center;
    color: #23AFDD;
    text-decoration: none;
}

.main {
    margin-top: 336px;
}

.main__description .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main__description p {
    z-index: 1;
    color: #ffffff;
}

.main__description .container img {
    top: 187px;
    left: -77px;
}

.main__description img {
    position: absolute;
}

.main__progress {
    padding-top: 272px;
}

.main__progress .container {
    display: flex;
}

.main__progress p {
    font-weight: normal;
    font-size: 25px;
    line-height: 132%;
    margin-top: 45px;
}

.main__progress .progress-text {
    margin-left: 84px;
}

.main__progress .progress-text img {
    margin-left: -10px;
}

.main__progress .button {
    margin-top: 86px;
}

.main__feedback {
    padding-bottom: 109px;
    padding-top: 130px;
}

.main__feedback .flex-wrap {
    position: relative;
}

.main__feedback .flex-wrap img:nth-of-type(1) {
    right: 0;
    top: 200px;
    z-index: 1;
}

.main__feedback .flex-wrap img:nth-of-type(2) {
    right: -100px;
    top: 356px;
}

.main__feedback p {
    font-weight: normal;
    font-size: 30px;
    line-height: 117%;
    margin-top: 80px;
}

.feedback__content .button {
    margin-top: 86px;
}

.feedback__content {
    margin-right: 38px;
}

.flex-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer {
    margin-top: 184px;
    position: relative;
    padding-bottom: 72px;
}

.footer__quest {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__quest p {
    margin-top: 5px;
    color: #23AFDD;
}

.footer__info {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info a {
    display: block;
    color: #23AFDD;
    font-weight: normal;
}

.footer__social {
    margin-left: 93px;
}

.footer__social a {
    margin-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px solid;
    font-weight: normal;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 48px;
    max-height: 48px;
}

.footer__copyright small {
    font-size: 16px;
    line-height: 143.7%;
    /* or 23px */
    letter-spacing: -0.02em;
    color: #23AFDD;
    font-weight: normal;
}

.footer__copyright div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__copyright a {
    transition: .5s;
    margin-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px transparent;
    color: #23AFDD;
    font-weight: normal;
}

.footer__copyright a:hover {
    border-bottom: 1px solid;
}

.footer .back {
    position: absolute;
    bottom: 0;
    right: 300px;
}


.send-modal__mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    transition: .5s;
    opacity: 0
}

.send-modal__window {
    background: #1C0E1A;
    /*border: 1px solid #B8B8B8;*/
    width: 626px;
    min-height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.send-modal__window div {
    margin: 85px 0;
    text-align: center;
    max-width: 60%
}

.send-modal__window div p {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */
    text-align: center;
    color: #7A7A7A;
    margin-bottom: 33px
}

.send-modal__window h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 110%;
    /* or 31px */
    text-align: center;
    color: #23AFDD;
    margin-top: 0;
}

.send-modal__window .button {
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    /*margin-top: 22px;*/
    cursor: pointer;
    text-transform: uppercase;
    margin: auto;
    background: transparent;
}

.send-modal__window div img {
    margin-bottom: 20px
}

.send-modal__window .button {
    width: 100%;
    color: #23AFDD;
    border: 2px solid;
}

.send-modal__window .button::after {
    display: none;
}


.send-modal__cross {
    position: absolute;
    right: 0;
    top: 0;
    background: #1C0E1A;
    width: 75px;
    height: 75px;
    /*border: 1px solid #B8B8B8;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 50%;*/
    cursor: pointer
}
